/**
 * IE<=7 stylesheet.
 *
 * (c) Jan Javorek, 2009 (http://www.javorek.net)
 */

#lbOverlay {
	position: absolute; left: -100%; bottom: 0;
}

input.button, button {
    width: 0;
}

.track .desc {
	_height: 6.3em;
}
